@import './sections/header';
@import './sections/showcase';
@import './sections/features';
@import './sections/mood';
@import './sections/manage';
@import './sections/devices';
@import './sections/tools';
@import './sections/newsletter';
@import './sections/footer';

@import './sections/courses';
@import './sections/cuurses-tools';
@import './sections/pages-numbers';
@import './sections/skills';

@import './sections/signin';

@import './sections/signup';

@import './sections/account-details';

